name: "build"
on: # rebuild any PRs and main branch changes
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  schedule:
    # every 4 hours
    - cron: "0 */4 * * *"
  push:
    branches:
      - master
      - 'releases/*'
defaults:
  run:
    shell: bash # set bash as default shell
jobs:
  build: # make sure build/ci work properly
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: 24
      - run: |
          npm ci
          npm run all
          __tests__/verify-no-unstaged-changes.sh
