name: "dry-run"
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  schedule:
    - cron: "0 */4 * * *"
  push:
    branches:
      - master
      - 'releases/*'
defaults:
  run:
    shell: bash
concurrency:
  group: dry-run-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  dry-run:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
          - ubuntu-22.04
          - ubuntu-24.04-arm
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - id: info-block
        uses: medyagh/info-block@main
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Set up Docker
        uses: docker/setup-docker-action@v4
      - uses: ./
        with:
          start-args: --download-only
      - uses: ./
        with:
          start-args: --dry-run
