name: "macos-test (flaky)"
on: # rebuild any PRs and main branch changes
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  schedule:
    # every sunday
    - cron: "0 0 * * 0"
  push:
    branches:
      - master
      - 'releases/*'
defaults:
  run:
    shell: bash # set bash as default shell
concurrency:
  group: macos-test-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  # test-qemu-driver-start-args-verbose-HEAD:
  #   runs-on: macos-latest
  #   steps:
  #     - id: info-block
  #       uses: medyagh/info-block@main
  #     - name: install qemu and tools needed
  #       shell: bash
  #       run: |
  #         brew update 
  #         brew install qemu socket_vmnet
  #         HOMEBREW=$(which brew) && sudo ${HOMEBREW} services start socket_vmnet  
  #         fw=/usr/libexec/ApplicationFirewall/socketfilterfw
  #         sudo $fw --remove /usr/libexec/bootpd
  #         sudo $fw --add /usr/libexec/bootpd
  #         sudo $fw --unblock /usr/libexec/bootpd
  #     - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
  #     - uses: ./
  #       with:
  #         driver: qemu
  #         start-args: --memory=4gb --alsologtostderr
  #         minikube-version: HEAD
  #     - run: |
  #         minikube profile list
  #         minikube ssh -- ls -lah
  test-vfkit-driver-macos-HEAD:
    runs-on: macos-latest
    steps:
      - id: info-block
        uses: medyagh/info-block@main
      - name: install vfkit and tools needed
        shell: bash
        run: |
          brew update 
          brew install vfkit
          curl -fsSL https://github.com/minikube-machine/vmnet-helper/releases/latest/download/install.sh | sudo VMNET_INTERACTIVE=0 bash
          fw=/usr/libexec/ApplicationFirewall/socketfilterfw
          sudo $fw --remove /usr/libexec/bootpd
          sudo $fw --add /usr/libexec/bootpd
          sudo $fw --unblock /usr/libexec/bootpd
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: ./
        with:
          driver: vfkit
          start-args: --memory=4gb --network vmnet-shared --alsologtostderr --no-kubernetes
          minikube-version: HEAD
      - run: |
          minikube profile list
          minikube ssh -- ls -lah
